---
layout: titleless
disqus: false
archive: false
post_class: post-template
---

<div class="mainheading">
    <h1 class="sitetitle">{{ page.title }}</h1>
    <p>
        {% assign excerpt = site.data.bottler_infos[page.title].content | strip_html | truncate: 5 | strip_newlines %}
        {% if excerpt != "" %}
            {{ excerpt }} <a class="text-green" href="{{site.data.bottler_infos[page.title].url}}">check more</a>
        {% endif %}
    </p>
</div>

<section class="recent-posts">

    {% if page.related_posts %}
        <div class="section-title">
            <h2><span>Blogs</span></h2>
        </div>

        <div class="row listrecent">
            {% for post in page.related_posts %}
                {% include postbox.html %}
            {% endfor %}
        </div>
    {% endif %}

    {% if page.related_notes %}
        <div class="section-title">

            <h2><span>Notes</span></h2>

        </div>

        <div class="row listrecent">
            {% for post in page.related_notes %}
                {% include postbox.html %}
            {% endfor %}
        </div>
    {% endif %}

</section>

