---
layout: titleless
disqus: false
archive: false
post_class: post-template
---
{% assign info = site.data.distillery_infos[page.title] %}

<div class="mainheading">
    <h1 class="sitetitle">{{ page.title }}</h1>
    <p>
        {{info.chinese}}
        {% assign excerpt = info.content | strip_html | truncate: 50 | strip_newlines %}
        {% if excerpt != "" %}
            - {{ excerpt }} <a class="text-green" href="{{site.data.distillery_infos[page.title].url}}">更多</a>
        {% endif %}
    </p>
</div>

<section class="recent-posts">

    {% if page.related_posts.size > 0 %}
        <div class="section-title">
            <h2><span>笔记</span></h2>
        </div>

        <div class="row listrecent">
            {% assign posts = page.related_posts | sort: "date" | reverse %}
            {% for post in posts %}
                {% include postbox.html %}
            {% endfor %}
        </div>
    {% endif %}

    {% if page.related_notes.size > 0 %}
        <div class="section-title">

            <h2><span>酒评</span></h2>

        </div>

        <div class="row listrecent">
            {% assign posts = page.related_notes | sort: "date" | reverse %}
            {% for post in posts %}
                {% include postbox.html %}
            {% endfor %}
        </div>
    {% endif %}

</section>

