---
title: "Distilleries"
layout: titleless
permalink: "/distillery.html"
---

<div class="mainheading">
    <h1 class="sitetitle">酒厂</h1>
</div>

<div class="row listrecent">
    {% for pair in site.data.region_to_distilleries %}
        {% assign region = pair[0] | strip_newlines %}
        <div class="section-title col-md-12 mt-4">
            <h2><span>{{ region | region_to_chinese }}</span></h2>
        </div>
        {% for distillery in pair[1] %}
            {% assign info = site.data.distillery_infos[distillery] %}
            {% assign title = info['distillery'] %}
            {% include infobox.html %}
        {% endfor %}
    {% endfor %}

</div>
