---
layout: default
---
{% include get_liquor_type.html %}

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>精选</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}


<!-- Posts Index
================================================== -->
{% if page.url == "/blog" %}

<section class="recent-posts">

    <div class="section-title">

        <h2><span>全部笔记</span></h2>

    </div>

    <div class="row listrecent">
        {% for post in site.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>

</section>

{% endif %}

{% if page.url == "/note" %}

<section class="recent-posts">

    <div class="section-title">

        <h2><span>全部酒评</span></h2>

    </div>

    <div class="row listrecent">
        {% for post in site.notes %}
            {% include postbox.html %}
        {% endfor %}
    </div>

</section>

{% endif %}


<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

